= semantic_form_for [@paciente] do |form|

  = form.input :nome, :label => 'Nome'
  = form.input :cpf, :label => 'Cpf'
  = form.input :endereco, :label => 'Endereco'
  = form.input :telefone, :label => 'Telefone'
  = form.input :dataNascimento, :label => 'DataNascimento'
  = form.submit 'Salvar'
