<h1>Cadastro de Atendimentos</h1>

<table>
  <tr>
    <th>Data</th>
    <th width=50></th>
    <th>Hora</th>
    <th width=50></th>
    <th>Medico</th>
    <th width=50></th>
    <th>Paciente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atendimentos.each do |atendimento| %>
  <tr>
    <td><%= atendimento.data %></td>
    <td></td>
    <td><%= atendimento.hora %></td>
    <td></td>
    <td><%= atendimento.medico.nome %></td>
    <td></td>
    <td><%= atendimento.paciente.nome %></td>
    <td><%= link_to 'Show', atendimento %></td>
    <td><%= link_to 'Edit', edit_atendimento_path(atendimento) %></td>
    <td><%= link_to 'Excluir', atendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atendimento', new_atendimento_path %>
